@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AnonymousPro-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  background: black;
  color: white;
}