/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AnonymousPro-Regular.woff2') format('woff2');
}

body {
  font-family: 'Anonymous Pro', monospace;
}